html,body {
	height: 100%;
}

body {
	color: #fff;
	margin: 0 auto;
	font: 'Old Standard TT', serif;
	font-size: 20px;
	background-color: #333;
	text-align: center;
}

table {
	font-weight: normal;
	width: 70%;
	margin-left:auto; 
    margin-right:auto;
    
}

table,th {
	border: 2px solid black;
	height: 40px;
	verticle-align: bottom;
	padding: 5px;
}

td {
	verticle-align: bottom;
	text-align: center;
}

table thead tr th {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

table tfoot tr th {
	font-weight: bold;
	padding-top: 10px;
}

.header {
	margin-bottom: 40px;
}

.logo {
	position: fixed;
	top: 15;
	left: 25;
}

.clearfix {
	clear: both;
}

.container {
	z-index: 1;
	position: relative;
	background-color: #f4d432;
	padding-top: 120px;
	text-align: center;
	height: 100%;
}

.container.about {
	background-color: #F0D58E;
}

.container.contact {
	background-color: #F9DC92;
}

.container.projects {
	background-color: #E7CC89;
}

.container.home {
	background-color: #DAC081;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	margin: 0 10px;
}

h1 {
	margin: 40px 0;
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #888;
}

.menu {
	width: 100%;
	position: fixed;
	height: 100px;
	background-color: #fff;
	top: 0;
	left: 0;
	z-index: 2;
}

.menu .slider {
	position: fixed;
	left: 10%;
	width: 80%;
	text-align: center;
}

.menu .slider .bar,.menu .slider .bar .before {
	height: 20px;
	transition: .5s;
	-webkit-transition: .5s;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.menu .slider .bar {
	position: relative;
	left: 3px;
	width: 100%;
	background-color: #645737;
}

.menu .slider .bar .before {
	width: 100px;
	float: left;
	position: relative;
	left: -3px;
}

.menu .slider .bar a.knob {
	position: absolute;
	top: -5px;
	left: 0;
	margin: 0;
	display: block;
	width: 30px;
	height: 30px;
	background-color: #ccc;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	transition: .5s;
	-webkit-transition: .5s;
}

.menu ul {
	height: 100%;
	display: inline-block;
	margin: 20px 0 15px 0;
}

.menu ul li {
	margin: 0 40px;
	font-size: 35px;
	font-weight: bold;
	float: left;
}

.menu ul li a {
	color: #645737;
	margin: 0;
}